body{
    background-color: rgb(30, 14, 85);
    color: rgb(14, 211, 44);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px 10px 20px 10px;
    padding: 20px 10px 20px 10px;
    
}