
body{
    background-color: lightyellow;
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 10px 20px 10px;
    padding: 20px 10px 20px 10px;
    background-image: url('../MyBckGrnd1.gif');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


div{
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    color:black;
    font-size: large;
    border-radius: 15%;
    
}

label{
    color:black;
}

span {
    display: inline-block;
    margin: 10px 0;
    width: 100%;
    text-align: center;
  }