.otp-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #282c34; /* Dark blue background */
  color: white;
  padding: 20px;
}

.otp-input-box {
  margin: 20px 0;
}

.otp-buttons {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb; /* Light blue button */
  color: #282c34;
  cursor: pointer;
}

.otp-buttons:hover {
  background-color: #21a1f1;
}

input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #61dafb;
}
