body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #001f3f; /* Dark blue background color */
    color: white; /* White text */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.buttons{
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
}
.App {
    text-align: center;
}

.App-header {
    background: #002f6f; /* Slightly lighter dark blue */
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #FFD700; /* Gold color for the header */
    margin-bottom: 30px;
    text-align: center;
}

.form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background: #003366; /* Slightly darker background for the form */
    border-radius: 10px;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 20px;
    width: 45%;
}

label {
    margin: 15px 0;
    width: 100%;
    font-size: 1.1em;
}

input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    font-size: 1em;
    margin-top: 5px;
}

.submit-button {
    padding: 15px 30px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
    width: 100%;
}

.submit-button:hover {
    background-color: #0056b3;
}

.success-message {
    margin-top: 20px;
    color: green;
    font-weight: bold;
}